article[data-history-node-id] > div > .layout > .layout__region {
  margin:-2px;
  border:1px solid #ccc;
}

div[data-layout-editor-preview] img, div[data-layout-editor-object] img {
  width: auto;
  height : auto;
  max-height:100%;
  max-width:100%;
  object-fit: contain;
}

.layout-editor-add-content fieldset.one-third {
  width:30%;
  display:inline-block;
  vertical-align:top;
}
.layout-editor-add-content fieldset.two-thirds {
  width:60%;
  display:inline-block;
  vertical-align:top;
}

.layout-editor-add-content fieldset div.button {
  text-align:left;
  margin:0 0 0.5em 0;
  display:block;
}

article[data-history-node-id] > div > .layout > .layout-editor-highlighted {
  border:1px solid green;
}

article[data-history-node-id] > div > .layout > .layout__region [data-layout-editor-object] {
  outline: 1px dashed rgba(0,0,0,0.5);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.7);
  margin: 0.5em 0.5em;
  padding: 5px;
}

.ui-draggable {
  cursor: all-scroll;
}

.ui-sortable-handle a.context-block-handle, .ui-sortable-handle a.context-block-remove {
  border: 1px solid #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  z-index:1000;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  height: 26px;
  width: 26px;
  white-space: nowrap;
 }

.ui-sortable-handle a.context-block-handle {
  background: #fff url(move.svg) center center / 16px 16px no-repeat;
  cursor:move;
  float:right;
  z-index:1000;
}

.ui-sortable-handle a.context-block-remove {
  background: #fff url(ex.svg) center center / 16px 16px no-repeat;
  cursor:pointer;
  float:right;
  z-index:1000;
}
